/* About me*/
.gridAboutMe{
    padding: 60px 170px 50px;
}
.devicons{
    height:50px;
    border-radius: 20%;
}
.aboutMeText{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 40px 30px 40px;
    gap: 20px;
   
}

.iconos_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
    padding: 10px 10px 10px 35px;
}

.icon_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}


.descriptionDevIcon{
    font-size: 12px;
}
