:root{
    --white:white; 
    --black: black;
    --regulartext:#ecf4fb;
    --text-muted: #887f79;
    --oscuro: #0f0f0f;
    --bg: #0d1114;
    --containerBg: #1f252a;
    --bghover: #2a1c14;
    --primary: #bfd9f0;
    --primary-hover: #f2f7fc;
    --analogous: #8da1b2;
    --bright:#f2f7fc;
    --glass-bg: rgba(255, 255, 255, 0.4); 
    --glass-border: rgba(255, 255, 255, 0.6);
}
/* 

fcb6b7
https://www.123freevectors.com/color/bfd9f0/
https://colorkit.co/color/bfd9f0/ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg);
  color: var(--regulartext);
}
/* cosas del body para no pisar con navbar */
#home,
#aboutMe,
#portfolio,
#myInspiration,
#connect{
    scroll-margin-top: 120px;
}

.container {
    border-radius: 15px;
    background: var(--containerBg);
    /* border: 1px solid var(--glass-border); */
    /* background: var(--glass-bg); 
    box-shadow: 0 0.5px 4px var(--bright);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */
}
/* TEXTOS */
.english{
    display: none;
}
.strong_text{
    color: var(--primary) !important;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5)
}
.containerTitle{
    display:flex;
    justify-content:center;
    align-items:center
}

.botones{
    margin: 2px;
    padding: 5px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 600;
    padding: 3px 20px;
    border-radius: 20px;
    text-shadow: 1px 0px 0.01px var(--bright);
    border: 2px solid var(--primary);
    transition: all 0.7s ease;
    white-space: nowrap;
    background-color: transparent;
}

.botones:hover{
    color: var(--analogous);
    background: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

