.moodboardContainer{
    padding: 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.moodboard {
    display: flex;
    justify-content: center;
    
}

.imgInspiration {
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;
}
