/* Projects*/
.projectsContainer{
    padding: 40px 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.gridProject{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 20px;
}

/* listado */

.projectsListContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 20px;
}
.projectsList li{
    list-style: none;
    border-bottom: 1px solid var(--primary);
    padding: 10px 10px 10px 10px;
    width: 80%;
}
.projectsList button{
    all: unset;
    cursor: pointer;
}
.projectsList li:hover{
    padding-left: 20px;
}

/* proyect card */
.projectCardContainer{
    padding: 10px 10px 10px 10px;
}
.proyectCard{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 10px 10px 10px 10px;
    gap: 10px
}
.projectImg{
  width: auto;
  height: 300px;
  border-radius: 15px;
}  
.projectImgContainer{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  
  filter: drop-shadow(0 0 5px var(--analogous));
}
.projectTechs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
.projectTechs li{
    list-style: none;
    padding: 3px 10px;
    border-radius: 20px;
}
.projectDescription{
    display: none;
}
li:hover .projectDescription {
    display: block;
    font-size: 12px;
}
li:hover  button {
    font-size: 20px;
}

.projectLinks a{
    margin: 2px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 600;
    padding: 3px 20px;
    border-radius: 20px;
    text-shadow: 1px 0px 0.01px var(--bright);
    border: 2px solid var(--primary);
    transition: all 0.7s ease;
    white-space: nowrap;
    background-color: transparent;
}
.projectLinks a:hover{
    color: var(--analogous);
    background: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}